[Desktop Entry]
Name=AmjDeskURL Scheme Handler
NoDisplay=true
MimeType=x-scheme-handler/amjdesk;
TryExec=amjdesk
Exec=amjdesk %u
Icon=amjdesk
Terminal=false
Type=Application
StartupNotify=false
