[Unit]
Description=AmjDesk
Requires=network.target
After=systemd-user-sessions.service

[Service]
Type=simple
ExecStart=/usr/bin/amjdesk --service
# kill --tray and --server both
ExecStop=pkill -f "amjdesk --"
# below two lines do not work, have to use above one line
#ExecStop=pkill -f "amjdesk --tray"
#ExecStop=pkill -f "amjdesk --server"
PIDFile=/run/amjdesk.pid
KillMode=mixed
TimeoutStopSec=30
User=root
LimitNOFILE=100000

[Install]
WantedBy=multi-user.target
